name: Build and Publish package
on:
  push:
    branches: [ Bahmni-IPD-master ]
  workflow_dispatch:

jobs:
  Trivy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Trivy Scan
        run: |
          wget -q https://raw.githubusercontent.com/Bahmni/bahmni-infra-utils/main/trivy_scan.sh && chmod +x trivy_scan.sh
          ./trivy_scan.sh
          rm trivy_scan.sh
  build-publish-package:
    name: Build and Publish package
    runs-on: ubuntu-latest
    needs: Trivy
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build and deploy with Maven
        run: ./mvnw --no-transfer-progress clean -U package -DskipTests
        
      - name: Delete existing tag
        run: |
          git tag -d v1.8.0.omod || true
          git push origin :refs/tags/v1.8.0.omod || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete existing release
        run: |
          gh release delete v1.8.0.omod -y
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create GitHub release
        id: create_release
        uses: actions/create-release@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: v1.8.0.omod
            release_name: Release-v1.8.0.omod
            draft: false
            prerelease: false

      - name: Upload SNAPSHOT.omod to release
        uses: actions/upload-release-asset@v1
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
            asset_path: omod/target/appointments-1.8.0-SNAPSHOT.omod
            asset_name: appointments-1.8.0-SNAPSHOT.omod
            asset_content_type: application/octet-stream
